<h2>杂项</h2>
<section>
	<mat-checkbox [checked]="rememberLastSearch">记住最后一次搜索条件</mat-checkbox>
</section>
<section>
	<mat-checkbox [checked]="dlLeftButton">下载按钮在最左边</mat-checkbox>
</section>

<h2>搜索字段</h2>
<section>
	<mat-checkbox *ngFor="let a of searchCol | keyvalue">{{ keyName[a.key] }}</mat-checkbox>
</section>

<h2>展示字段</h2>
<section>
	<mat-checkbox *ngFor="let a of resultCol | keyvalue" [checked]="a.value">{{ keyName[a.key] }}</mat-checkbox>
</section>

<h2>下载</h2>
<section>
	<mat-checkbox [checked]="fileName.publisher">文件名包括出版社</mat-checkbox>
</section>
<section>
	<mat-checkbox [checked]="fileName.author">文件名包括作者</mat-checkbox>
</section>
<section>
	<mat-form-field style="width: min(100%, 40rem);">
		<mat-label>下载站</mat-label>
		<input matInput type="text" [matAutocomplete]="autoSite" [(ngModel)]="dlSite">
		<button *ngIf="dlSite" matSuffix mat-icon-button aria-label="Clear Language" (click)="dlSite=''">
			<mat-icon>close</mat-icon>
		</button>
		<mat-autocomplete #autoSite="matAutocomplete">
			<mat-option *ngFor="let url of dlSiteSuggest" [value]="url">
				{{ url }}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</section>

<button mat-raised-button disabled>保存</button>
