<div class="search-box">
	<mat-form-field class="name">
		<mat-label>书名</mat-label>
		<input matInput [(ngModel)]="name" (change)="doSearch()" (keyup)="doSearch()">
		<button *ngIf="name" matSuffix mat-icon-button aria-label="Clear Name" (click)="name='';doSearch()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field class="author">
		<mat-label>作者</mat-label>
		<input matInput [(ngModel)]="author" (change)="doSearch()" (keyup)="doSearch()">
		<button *ngIf="author" matSuffix mat-icon-button aria-label="Clear Author" (click)="author='';doSearch()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field class="publisher">
		<mat-label>出版社</mat-label>
		<input matInput type="text" [(ngModel)]="publisher" (change)="doSearch()" (keyup)="doSearch()">
		<button *ngIf="publisher" matSuffix mat-icon-button aria-label="Clear Publisher" (click)="publisher='';doSearch()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field class="ext">
		<mat-label>扩展名</mat-label>
		<input matInput type="text" [matAutocomplete]="autoExt" [(ngModel)]="ext" (change)="doSearch()" (keyup)="doSearch()">
		<button *ngIf="ext" matSuffix mat-icon-button aria-label="Clear Extension" (click)="ext='';doSearch()">
			<mat-icon>close</mat-icon>
		</button>
		<mat-autocomplete #autoExt="matAutocomplete" (optionSelected)="doSearch()">
			<mat-option *ngFor="let option of extOption" [value]="option">
				{{option}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>

	<mat-form-field class="lang">
		<mat-label>语言</mat-label>
		<input matInput type="text" [matAutocomplete]="autoLang" [(ngModel)]="lang" (change)="doSearch()" (keyup)="doSearch()">
		<button *ngIf="lang" matSuffix mat-icon-button aria-label="Clear Language" (click)="lang='';doSearch()">
			<mat-icon>close</mat-icon>
		</button>
		<mat-autocomplete #autoLang="matAutocomplete" (optionSelected)="doSearch()">
			<mat-option *ngFor="let option of langOption" [value]="option">
				{{option}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>

	<mat-form-field class="isbn">
		<mat-label>ISBN</mat-label>
		<input matInput type="text" [(ngModel)]="isbn" (change)="doSearch()" (keyup)="doSearch()">
		<button *ngIf="isbn" matSuffix mat-icon-button aria-label="Clear ISBN" (click)="isbn='';doSearch()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
</div>

<div class="search-result" *ngIf="result?.length">
	<table>
		<tr>
			<th class="name">书名</th>
			<th class="author">作者</th>
			<th class="publisher">出版社</th>
			<th class="ext">扩展名</th>
			<th class="lang">语言</th>
			<th class="isbn">ISBN</th>
			<th class="filesize">&#160;</th>
			<th class="dl">&#160;</th>
		</tr>
		<tr *ngFor="let a of result">
			<td class="name" [title]="a.name"><span>{{ a.name }}</span></td>
			<td class="author" [title]="a.author"><span>{{ a.author }}</span></td>
			<td class="publisher" [title]="a.publisher"><span>{{ a.publisher }}</span></td>
			<td class="ext"><span>{{ a.ext }}</span></td>
			<td class="lang"><span>{{ a.lang }}</span></td>
			<td class="isbn" [title]="a.isbn"><span>{{ a.isbn }}</span></td>
			<td class="filesize"><span>{{ formatBytes(a.filesize) }}</span></td>
			<td class="dl"><a mat-button [href]="buildLink(a)" target="_blank">下载</a></td>
		</tr>
	</table>
</div>
